doctype html 
html
  head 
    title IMG-PDF generator 
    meta(charset='utf-8')
    link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
    link(rel="stylesheet", href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Fira+Code&display=swap')
    link(rel="shortcut icon" href="https://www.shutterstock.com/image-vector/convert-pdf-jpg-file-vector-260nw-2187157285.jpg" type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/index-view.css')
    script(type='module', src='/javascripts/sort.js' defer)
    script(src='/javascripts/convert.js' defer)
  
  body  
    header 
      h1 
        a(href="/reset") CONVERT2PDF
    article 
      p 
        form(action="/new", method="post", enctype="multipart/form-data" id="newImagesForm")
          input(type="file" name="images" id="newImagesInput" accept=".png, .jpg, .jpeg" multiple required style="display: none;")
          button(type="button" onclick="document.getElementById('newImagesInput').click()") New + 

        script.
          document.getElementById('newImagesInput').addEventListener('change', function() {
            if (this.files.length > 0) {
              document.getElementById('newImagesForm').submit();
            }
          }); 

      div.image-container
        each image in images 
          img(src="/images/" + image, data-name=image, width='200', height='200')
      p 
        a.convert(href="javascript:void(0)")
          span.text Convert to PDF &rarr;
          span.loader(style="display: none;") ⏳
      p
        a.download(download, style="display: none;") Download PDF &darr;
    footer
      p 
        code copyright &copy; 2025 
        a(href="https://github.com/about40kills", target="_blank")
          i.fa-brands.fa-github